body { /*blocco che agisce su tutto il documento*/
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('resources/Sfondo.jpg');
    background-size: auto 100vh; /* viewport height */
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
}

.nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.nav a {
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.467);
    font-weight: bold;
    text-decoration: none; 
    transition: all 0.6s ease; 
}

.nav a:hover, .nav a.active {
    color: rgb(255, 255, 255); 
    text-decoration: underline;
    text-underline-offset: 8px;
}
.Logo { /*blocco che agisce sulla classe .Logo*/
    font-size: 100px;
    text-align: center;
    margin-top: -2px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.Logo:hover { /*blocco che agisce quando si passa il mouse sopra l'elemento di classe .Logo*/
    text-shadow: 0 10px 20px rgb(230, 43, 255); /*quando si passa il mouse sopra l'elemento di classe logo, appare un effetto di bagliore*/
    cursor: pointer; /*cambia il cursore quando si passa il mouse sopra l'elemento di classe logo*/
}

.title {
    font-family: 'Impact', sans-serif; /*font titolo parte superiore*/
    font-size: 48px;
    margin-top: -80px;
    color: white;
    text-align: center;
}
.title2 {
    font-family: serif; /*font titolo parte inferiore*/
    font-size: 88px;
    color: white;
    text-align: center;
    margin-top: -20px;
    font-style: italic; 
    text-shadow: 0 0 10px rgb(230, 43, 255);
}

button {
    display: block;
    position: fixed;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(230, 43, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(230, 43, 255);
}
button:hover { /*comportamento del button quando si passa il mouse sopra*/
    background-color: rgb(230, 43, 255);
    color: black;
    box-shadow: 0 0 20px rgb(230, 43, 255);
}

.container-immagini {
    display: flex;
    margin-top: 50px; /*centra verticalmente l'immagine*/
   margin-left: 50px; /*sposta il container a sinistra*/
   margin-right: 50px; /*sposta il container a destra*/
    justify-content: space-between;
}
.container-immagini img {
    width: min(25vw, 300px);
    height: min(25vw, 300px);
    object-fit: cover;
    border-radius: 50%; /*l'immagine è circolare*/
    box-shadow: 0 0 15px rgb(230, 43, 255);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s; /*transizione dell'immagine quando si passa il mouse sopra*/
}
.container-immagini img:hover {
     transform: scale(1.10); 
}

.separatore {
    width: 90%;
    height: 2px;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(230, 43, 255);
    margin: 40px auto;
}

.Testo {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.226);
}

strong {
    color: rgb(230, 43, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
